.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #ffff;

}
span{
    font-weight: 600;
    color: #c176ff;
    font-size: large;
}